#side-nav {
    width: 20%;
    background-color: #161748;
 
}
#main-nav{
    background-color: #161748;
    
}
span{
    color: rgb(0, 71, 146);
    font-weight: bolder;
}

#main-section{
    width: 80%;
    background-color:  #39a0ca;
}